@import "tailwindcss/theme" layer(theme);
@import "tailwindcss/preflight" layer(base);
@import "tailwindcss/utilities" layer(utilities);
@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
  --bg-color: #061E29;
  --radius: 0.625rem;
  --background: #061E29;
  --foreground: #F3F4F4;
  --card: #1D546D;
  --card-foreground: #F3F4F4;
  --popover: #1D546D;
  --popover-foreground: #F3F4F4;
  --primary: #F3F4F4;
  --primary-foreground: #061E29;
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: #5F9598;
  --muted-foreground: #F3F4F4;
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: #5F9598;
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@font-face {
  font-family: "font-ibrand";
  src: url(/fonts/ibrand.otf);
}
@font-face {
  font-family: "font-courage";
  src: url(/fonts/Courage-Regular.otf);
}
@font-face {
  font-family: "font-bilmond";
  src: url(/fonts/bilmond-medium.otf);
}
@font-face {
  font-family: "font-NeueHaas";
  src: url(/fonts/NeueHaasGrotText-55Roman-Trial.otf);
}
.font-ibrand {
  font-family: "font-ibrand", sans-serif;
}
.font-courage {
  font-family: "font-courage", sans-serif;
}
.font-bilmond {
  font-family: "font-bilmond", sans-serif;
}
.font-NeueHaas {
  font-family: "font-NeueHaas", sans-serif;
}

/* Custom Minimalist Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.02);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  transition: all 0.3s ease;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}

body {
  background-color: var(--bg-color);
}

@theme inline {

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-black: #061E29;
  --color-white: #F3F4F4;
  --color-transparent: transparent;
  --color-current: currentColor;
  --color-slate-50: #F3F4F4;
  --color-slate-100: #F3F4F4;
  --color-slate-200: #F3F4F4;
  --color-slate-300: #F3F4F4;
  --color-slate-400: #F3F4F4;
  --color-slate-500: #5F9598;
  --color-slate-600: #5F9598;
  --color-slate-700: #5F9598;
  --color-slate-800: #5F9598;
  --color-slate-900: #1D546D;
  --color-slate-950: #061E29;
  --color-gray-50: #F3F4F4;
  --color-gray-100: #F3F4F4;
  --color-gray-200: #F3F4F4;
  --color-gray-300: #F3F4F4;
  --color-gray-400: #F3F4F4;
  --color-gray-500: #5F9598;
  --color-gray-600: #5F9598;
  --color-gray-700: #5F9598;
  --color-gray-800: #5F9598;
  --color-gray-900: #1D546D;
  --color-gray-950: #061E29;
  --color-zinc-50: #F3F4F4;
  --color-zinc-100: #F3F4F4;
  --color-zinc-200: #F3F4F4;
  --color-zinc-300: #F3F4F4;
  --color-zinc-400: #F3F4F4;
  --color-zinc-500: #5F9598;
  --color-zinc-600: #5F9598;
  --color-zinc-700: #5F9598;
  --color-zinc-800: #5F9598;
  --color-zinc-900: #1D546D;
  --color-zinc-950: #061E29;
  --color-neutral-50: #F3F4F4;
  --color-neutral-100: #F3F4F4;
  --color-neutral-200: #F3F4F4;
  --color-neutral-300: #F3F4F4;
  --color-neutral-400: #F3F4F4;
  --color-neutral-500: #5F9598;
  --color-neutral-600: #5F9598;
  --color-neutral-700: #5F9598;
  --color-neutral-800: #5F9598;
  --color-neutral-900: #1D546D;
  --color-neutral-950: #061E29;
  --color-stone-50: #F3F4F4;
  --color-stone-100: #F3F4F4;
  --color-stone-200: #F3F4F4;
  --color-stone-300: #F3F4F4;
  --color-stone-400: #F3F4F4;
  --color-stone-500: #5F9598;
  --color-stone-600: #5F9598;
  --color-stone-700: #5F9598;
  --color-stone-800: #5F9598;
  --color-stone-900: #1D546D;
  --color-stone-950: #061E29;
  --color-red-50: #F3F4F4;
  --color-red-100: #F3F4F4;
  --color-red-200: #F3F4F4;
  --color-red-300: #F3F4F4;
  --color-red-400: #F3F4F4;
  --color-red-500: #5F9598;
  --color-red-600: #5F9598;
  --color-red-700: #5F9598;
  --color-red-800: #5F9598;
  --color-red-900: #1D546D;
  --color-red-950: #061E29;
  --color-orange-50: #F3F4F4;
  --color-orange-100: #F3F4F4;
  --color-orange-200: #F3F4F4;
  --color-orange-300: #F3F4F4;
  --color-orange-400: #F3F4F4;
  --color-orange-500: #5F9598;
  --color-orange-600: #5F9598;
  --color-orange-700: #5F9598;
  --color-orange-800: #5F9598;
  --color-orange-900: #1D546D;
  --color-orange-950: #061E29;
  --color-amber-50: #F3F4F4;
  --color-amber-100: #F3F4F4;
  --color-amber-200: #F3F4F4;
  --color-amber-300: #F3F4F4;
  --color-amber-400: #F3F4F4;
  --color-amber-500: #5F9598;
  --color-amber-600: #5F9598;
  --color-amber-700: #5F9598;
  --color-amber-800: #5F9598;
  --color-amber-900: #1D546D;
  --color-amber-950: #061E29;
  --color-yellow-50: #F3F4F4;
  --color-yellow-100: #F3F4F4;
  --color-yellow-200: #F3F4F4;
  --color-yellow-300: #F3F4F4;
  --color-yellow-400: #F3F4F4;
  --color-yellow-500: #5F9598;
  --color-yellow-600: #5F9598;
  --color-yellow-700: #5F9598;
  --color-yellow-800: #5F9598;
  --color-yellow-900: #1D546D;
  --color-yellow-950: #061E29;
  --color-lime-50: #F3F4F4;
  --color-lime-100: #F3F4F4;
  --color-lime-200: #F3F4F4;
  --color-lime-300: #F3F4F4;
  --color-lime-400: #F3F4F4;
  --color-lime-500: #5F9598;
  --color-lime-600: #5F9598;
  --color-lime-700: #5F9598;
  --color-lime-800: #5F9598;
  --color-lime-900: #1D546D;
  --color-lime-950: #061E29;
  --color-green-50: #F3F4F4;
  --color-green-100: #F3F4F4;
  --color-green-200: #F3F4F4;
  --color-green-300: #F3F4F4;
  --color-green-400: #F3F4F4;
  --color-green-500: #5F9598;
  --color-green-600: #5F9598;
  --color-green-700: #5F9598;
  --color-green-800: #5F9598;
  --color-green-900: #1D546D;
  --color-green-950: #061E29;
  --color-emerald-50: #F3F4F4;
  --color-emerald-100: #F3F4F4;
  --color-emerald-200: #F3F4F4;
  --color-emerald-300: #F3F4F4;
  --color-emerald-400: #F3F4F4;
  --color-emerald-500: #5F9598;
  --color-emerald-600: #5F9598;
  --color-emerald-700: #5F9598;
  --color-emerald-800: #5F9598;
  --color-emerald-900: #1D546D;
  --color-emerald-950: #061E29;
  --color-teal-50: #F3F4F4;
  --color-teal-100: #F3F4F4;
  --color-teal-200: #F3F4F4;
  --color-teal-300: #F3F4F4;
  --color-teal-400: #F3F4F4;
  --color-teal-500: #5F9598;
  --color-teal-600: #5F9598;
  --color-teal-700: #5F9598;
  --color-teal-800: #5F9598;
  --color-teal-900: #1D546D;
  --color-teal-950: #061E29;
  --color-cyan-50: #F3F4F4;
  --color-cyan-100: #F3F4F4;
  --color-cyan-200: #F3F4F4;
  --color-cyan-300: #F3F4F4;
  --color-cyan-400: #F3F4F4;
  --color-cyan-500: #5F9598;
  --color-cyan-600: #5F9598;
  --color-cyan-700: #5F9598;
  --color-cyan-800: #5F9598;
  --color-cyan-900: #1D546D;
  --color-cyan-950: #061E29;
  --color-sky-50: #F3F4F4;
  --color-sky-100: #F3F4F4;
  --color-sky-200: #F3F4F4;
  --color-sky-300: #F3F4F4;
  --color-sky-400: #F3F4F4;
  --color-sky-500: #5F9598;
  --color-sky-600: #5F9598;
  --color-sky-700: #5F9598;
  --color-sky-800: #5F9598;
  --color-sky-900: #1D546D;
  --color-sky-950: #061E29;
  --color-blue-50: #F3F4F4;
  --color-blue-100: #F3F4F4;
  --color-blue-200: #F3F4F4;
  --color-blue-300: #F3F4F4;
  --color-blue-400: #F3F4F4;
  --color-blue-500: #5F9598;
  --color-blue-600: #5F9598;
  --color-blue-700: #5F9598;
  --color-blue-800: #5F9598;
  --color-blue-900: #1D546D;
  --color-blue-950: #061E29;
  --color-indigo-50: #F3F4F4;
  --color-indigo-100: #F3F4F4;
  --color-indigo-200: #F3F4F4;
  --color-indigo-300: #F3F4F4;
  --color-indigo-400: #F3F4F4;
  --color-indigo-500: #5F9598;
  --color-indigo-600: #5F9598;
  --color-indigo-700: #5F9598;
  --color-indigo-800: #5F9598;
  --color-indigo-900: #1D546D;
  --color-indigo-950: #061E29;
  --color-violet-50: #F3F4F4;
  --color-violet-100: #F3F4F4;
  --color-violet-200: #F3F4F4;
  --color-violet-300: #F3F4F4;
  --color-violet-400: #F3F4F4;
  --color-violet-500: #5F9598;
  --color-violet-600: #5F9598;
  --color-violet-700: #5F9598;
  --color-violet-800: #5F9598;
  --color-violet-900: #1D546D;
  --color-violet-950: #061E29;
  --color-purple-50: #F3F4F4;
  --color-purple-100: #F3F4F4;
  --color-purple-200: #F3F4F4;
  --color-purple-300: #F3F4F4;
  --color-purple-400: #F3F4F4;
  --color-purple-500: #5F9598;
  --color-purple-600: #5F9598;
  --color-purple-700: #5F9598;
  --color-purple-800: #5F9598;
  --color-purple-900: #1D546D;
  --color-purple-950: #061E29;
  --color-fuchsia-50: #F3F4F4;
  --color-fuchsia-100: #F3F4F4;
  --color-fuchsia-200: #F3F4F4;
  --color-fuchsia-300: #F3F4F4;
  --color-fuchsia-400: #F3F4F4;
  --color-fuchsia-500: #5F9598;
  --color-fuchsia-600: #5F9598;
  --color-fuchsia-700: #5F9598;
  --color-fuchsia-800: #5F9598;
  --color-fuchsia-900: #1D546D;
  --color-fuchsia-950: #061E29;
  --color-pink-50: #F3F4F4;
  --color-pink-100: #F3F4F4;
  --color-pink-200: #F3F4F4;
  --color-pink-300: #F3F4F4;
  --color-pink-400: #F3F4F4;
  --color-pink-500: #5F9598;
  --color-pink-600: #5F9598;
  --color-pink-700: #5F9598;
  --color-pink-800: #5F9598;
  --color-pink-900: #1D546D;
  --color-pink-950: #061E29;
  --color-rose-50: #F3F4F4;
  --color-rose-100: #F3F4F4;
  --color-rose-200: #F3F4F4;
  --color-rose-300: #F3F4F4;
  --color-rose-400: #F3F4F4;
  --color-rose-500: #5F9598;
  --color-rose-600: #5F9598;
  --color-rose-700: #5F9598;
  --color-rose-800: #5F9598;
  --color-rose-900: #1D546D;
  --color-rose-950: #061E29;

}

.dark {
  --background: #061E29;
  --foreground: #F3F4F4;
  --card: #1D546D;
  --card-foreground: #F3F4F4;
  --popover: #1D546D;
  --popover-foreground: #F3F4F4;
  --primary: #F3F4F4;
  --primary-foreground: #061E29;
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: #5F9598;
  --muted-foreground: #F3F4F4;
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: #5F9598;
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    @apply bg-background text-foreground;
  }
}

/* Marquee Scroll Animation */
@keyframes marqueeScroll {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-50%, 0, 0);
  }
}

.marquee-scroll {
  display: flex !important;
  width: max-content !important;
  animation: marqueeScroll 40s linear infinite !important;
  will-change: transform;
  transform: translateZ(0);
}

.marquee-scroll:hover {
  animation-play-state: paused;
}

